@{
    ViewData["Title"] = "Home Page";
}

<header>
    <!-- header inner -->
    <div class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section" >
                    <div class="full">
                        <div class="center-desk">
                            <div class="logo">
                                <img src="~/Images/logoRanking.png" alt="#" />
                                <b>RANKING ESTUDIANTIL</b>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                    <nav class="navigation navbar navbar-expand-md navbar-dark ">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarsExample04">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item active">
                                    <a class="nav-link" href="#we_do" id="font">Información</a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link" href="~/Edit/Index" id="font">Editar</a>
                                </li>
                            </ul>
                            <div class="sign_btn"><a href="#">Cerrar Sesion</a></div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="banner_main">
    <div class="container">
        <div class="row d_flex">
            <div class="col-md-4">
                <div class="piramide">
                    <button class="diamante">DIAMANTE</button>
                    <button class="platino">PLATINO</button>
                    <button class="oro">ORO</button>
                    <button class="plata">PLATA</button>
                    <button class="bronze">BRONZE</button>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="we_do" class="we_do">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>Información</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="we_do_box">
                    <i><img class="ImgSize" src="~/Images/info_3.png" alt="#" /></i>
                    <h4>Ranking Estudiantil?</h4>
                    <p>El ranking estudiantil es una carrera entre los estudiantes para medir los legros que ganen en su etapa de estudio</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="we_do_box">
                    <i><img class="ImgSize" src="~/Images/info_1.png" alt="#" /></i>
                    <h4>Como subir de rango?</h4>
                    <p>Se podra subir de rango dependiendo de los logros que gane y de las materias que aprueben</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="we_do_box">
                    <i><img class="ImgSize" src="~/Images/info_4.png" alt="#" /></i>
                    <h4>Como participo?</h4>
                    <p>Se podra participar cuando la persona se inscriba a la univalle que empezaran del rango mas bajo</p>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="Footer">
        <div class="container">
            <ul class="ul">

                <li> <a href="https://www.instagram.com/univalle_bolivia/"><i class="fa fa-instagram instagram"></i></a></li>

                <li> <a href="#2"><i class="fa fa-whatsapp whatsapp"></i></a></li>
     
                <li> <a href="https://www.facebook.com/UnivalleBolivia/"><i class="fa fa-facebook facebook"></i></a></li>

            </ul>
        </div>
    </div>
</footer>
