@model Ranking_Estudiantil.Models.Career

@{
    ViewData["Title"] = "Details";
}

<body style="background-color: #232323;">
    <div>
        <div align="center">
            <h1 style="color:white;">Details</h1>
            <h4 style="color:white;">Career</h4>
        </div>
        <br>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CareerName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CareerName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Department)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Department.DepartmentName)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.CareerID">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</body>

