
@model IEnumerable<Ranking_Estudiantil.Models.Projects>

@{
    ViewData["Title"] = "Index";
}

    
<body style="background-color: #232323;">
    <div class="Ventana">
    <a asp-controller="students" asp-action="Diamond" ><img id="exit" src="~/Images/eliminar-simbolo.png" /></a>
    <table class="table">
    <thead>
        <tr>
            <th>
                nombre del proyecto
            </th>
            <th>
               puntuacion
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectName)
            </td>
             <td>
                        @if(item.punctuation == 0.20)
                        {
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        }else if (item.punctuation == 0.40)
                        {
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        }else if (item.punctuation == 0.60)
                        {
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        }else if (item.punctuation == 0.80)
                        {
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                        }else if (item.punctuation == 1)
                        {
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                        }
                    </td>
            
        </tr>
}
    </tbody>
</table>
</div>
 </body>

