@model Ranking_Estudiantil.Models.AcademicUnity

@{
    ViewData["Title"] = "Create";
}


<body style="background-color: #232323;">
    <div align="center">
        

        <h1>Unidades Academicas</h1>
    </div>
    <br>
    <div align="center">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="AcademicUnityName" class="control-label"></label>
                    <input asp-for="AcademicUnityName" class="form-control" />
                    <span asp-validation-for="AcademicUnityName" class="text-danger"></span>
                </div>
                <br>
                <div class="form-group">
                    <input type="submit" value="Crear" class="btn btn-primary" />
                </div>
            </form>
        </div>
        <div>
            <a asp-action="Index">'Volver a la lista</a>
        </div>
    </div>
</body>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
