@model IEnumerable<Ranking_Estudiantil.Models.Department>

@{
    ViewData["Title"] = "Index";
}

<header>
    <!-- header inner -->
    <div class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                    <div class="full">
                        <div class="center-desk">
                            <div class="logo">
                                <img src="../Images/logoRanking.png" alt="#" />
                                <b>Departamentos</b>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                    <nav class="navigation navbar navbar-expand-md navbar-dark ">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>


<p style=" text-align:center;margin:auto;padding: 5px;">
    <a asp-action="Create">Nuevo</a>
</p>
<body style="background-color: #232323;">
    <table class="table-fill" >
        <thead>
            <tr>
                <th class="text-left">
                    Nombre
                </th>
                <th class="text-left">
                    Facultad
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody class="table-hover">
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-left">
                        @Html.DisplayFor(modelItem => item.DepartmentName)
                    </td>
                    <td class="text-left">
                        @Html.DisplayFor(modelItem => item.Faculty.FacultyName)
                    </td>
                    <td>
                        <a id="aEdit" asp-action="Edit" asp-route-id="@item.DepartmentID">Editar</a> |
                        <a id="aDelete" asp-action="Delete" asp-route-id="@item.DepartmentID">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div style="padding:50px">
        <a  href="/Edit1/Index">Regresar</a>
    </div>
</body>

