@model Ranking_Estudiantil.Models.Projects

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Projects</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="StudentsID" class="control-label"></label>
                <input asp-for="StudentsID" class="form-control" />
                <span asp-validation-for="StudentsID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="achievment" class="control-label"></label>
                <input asp-for="achievment" class="form-control" />
                <span asp-validation-for="achievment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectName" class="control-label"></label>
                <input asp-for="ProjectName" class="form-control" />
                <span asp-validation-for="ProjectName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="punctuation" class="control-label"></label>
                <input asp-for="punctuation" class="form-control" />
                <span asp-validation-for="punctuation" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" value=1 class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="RegisterDate" class="control-label"></label>
                <input asp-for="RegisterDate" class="form-control" />
                <span asp-validation-for="RegisterDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
