@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<body class="bodyEdit " >
    <div class="editText">
        <h1>SELECCIONE EL CAMPO QUE QUIERE EDITAR</h1>
    </div>

    <div>
        <button id="btnEdit" type="submit">Estudiantes</button>
    </div>
    <div>
        <button id="btnEdit" type="submit">Directores</button>
    </div>
    <div>
        <button id="btnEdit" type="submit">Docentes</button>
    </div>
    <div>
        <button id="btnEdit" type="submit">Rangos</button>
    </div>
    <div>
        <button id="btnEdit" type="submit">Unidades Academicas</button>
    </div>
    <div>
        <button id="btnEdit" type="submit">Facultades</button>
    </div>
    <div>
        <button id="btnEdit" type="submit">Departamentos</button>
    </div>
    <div>
        <button id="btnEdit" type="submit">Carreras</button>
    </div>
</body>
