@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<body class="bodyEdit">
    <div class="editText">
        <h1>SELECCIONE EL CAMPO QUE QUIERE EDITAR</h1>
    </div>
    <div style="margin-left:150px;">
        <form action="~/Students/Index">
            <div>
                <button id="btnEdit" type="submit">Estudiantes</button>
            </div>
        </form>
        <form action="~/People/Index">
            <div>
                <button id="btnEdit" type="submit">Person</button>
            </div>
        </form>
        <form action="~/Students/Index">
            <div>
                <button id="btnEdit" type="submit">Docentes</button>
            </div>
        </form>
        <form action="~/AcademicUnities/Index">
            <div>
                <button id="btnEdit" type="submit">Unidades Academicas</button>
            </div>
        </form>
        <form action="~/Faculties/Index">
            <div>
                <button id="btnEdit" type="submit">Facultades</button>
            </div>
        </form>
        <form action="~/Departments/Index">
            <div>
                <button id="btnEdit" type="submit">Departamentos</button>
            </div>
        </form>
        <form action="~/Careers/Index">
            <div>
                <button id="btnEdit" type="submit">Carreras</button>
            </div>
        </form>
        <br>
       
    </div>  
     <div style="padding:10px">
            <a  href="/Home/Index">Regresar</a>
        </div>
    
</body>
